<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReleaseAction.ProcessPath[git]" value="git"/>
    <add key="ReleaseAction.ProcessPath[nuget]" value="nuget"/>
    <add key="ReleaseAction.ProcessPath[MSBuild]" value="C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\MSBuild.exe"/>
    <add key="Push.Source" value="nuget.org"/>
  </appSettings>
</configuration>