<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Logging.Handler[log]" value="LogFile"/>
    <add key="LogFile.Directory" value="logs"/>
    <add key="LogFile.Severity" value="warn"/>
    <add key="LogFile.Format" value="{Time:HH:mm:ss} {Name} [{Severity}] {Data}"/>
  </appSettings>
</configuration>